
      <div class="min-h-screen w-full bg-gray-50 flex justify-center items-center">
            <div class="h-100 w-100 absolute flex justify-center items-center">
            
              <img
                class="object-cover h-32 w-32 rounded-full"
                src="https://images.unsplash.com/photo-1484608856193-968d2be4080e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80"
                alt=""
              />
            </div>  
      
            <div
              class="h-56 mx-4 w-5/6 bg-orange-300 rounded-3xl shadow-md sm:w-80 sm:mx-0">
              
              <div class="h-1/2 w-full flex justify-between items-baseline px-3 py-5">
                <h1 class="text-xl items-center">Bienvenue sur FleskCar</h1><br><br>
              </div>
      
              <div
                class=" bg-white w-full rounded-3xl flex flex-col justify-around items-center">
                <br><br><br>
                <h1>choisissez l'image de votre profile</h1>
        
                <div class="col-span-full">
                    <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                      <div class="text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                        </svg>
                        <div class="mt-4 flex text-sm leading-6 text-gray-600">
                          <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                            <span>Télécharger un fichier
                                
                                </span>
                            <input id="file-upload" name="file-upload" type="file" class="sr-only">
                          </label>
                        
                        </div>
                        <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF </p>
                      </div>
                    </div>
                </div><br>


                


                <div class="flex items-center justify-center">
                    <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline" type="button">
                        enregistrer la photo
                    </button>
                    &nbsp;&nbsp;
                    <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline" type="button">
                        ignorer
                    </button>
                   
                </div>
            </div>
          </div>
