<div  class="fixed inset-0 overflow-y-auto z-50 mt-8">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 sm:block sm:p-0">
    <!-- Fond obscur -->
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-300 opacity-75"></div>
    </div>

    <!-- Contenu de la fenêtre modale -->
    <div class="w-3/6 mx-auto p-6 rounded-md shadow-md bg-white rounded-lg overflow-hidden shadow-xl transform transition-all">
      <h2 class="text-2xl font-semibold mb-4 text-center">Modifier mon profil</h2>

      <form (submit)="updateAccount()" class="space-y-4">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="Nom" class="block text-gray-700 text-sm font-bold mb-2">Nom:</label>
            <input type="text" id="Nom" name="Nom" [(ngModel)]="updateAccountDto.Nom" class="w-full p-2 border rounded-md">
          </div>
          <div>
            <label for="Prenom" class="block text-gray-700 text-sm font-bold mb-2">Prénom:</label>
            <input type="text" id="Prenom" name="Prenom" [(ngModel)]="updateAccountDto.Prenom" class="w-full p-2 border rounded-md">
          </div>
        </div>
  
        <div>
          <label for="NumTel" class="block text-gray-700 text-sm font-bold mb-2">Numéro de téléphone:</label>
          <input type="text" id="NumTel" name="NumTel" [(ngModel)]="updateAccountDto.NumTel" class="w-full p-2 border rounded-md">
        </div>
        <div>
          <label for="Adresse" class="block text-gray-700 text-sm font-bold mb-2">Adresse:</label>
          <input type="text" id="Adresse" name="Adresse" [(ngModel)]="updateAccountDto.Adresse" class="w-full p-2 border rounded-md">
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="Ville" class="block text-gray-700 text-sm font-bold mb-2">Ville:</label>
            <input type="text" id="Ville" name="Ville" [(ngModel)]="updateAccountDto.Ville" class="w-full p-2 border rounded-md">
          </div>
          <div>
            <label for="CodePostal" class="block text-gray-700 text-sm font-bold mb-2">Code Postal:</label>
            <input type="text" id="CodePostal" name="CodePostal" [(ngModel)]="updateAccountDto.CodePostal" class="w-full p-2 border rounded-md">
          </div>
        </div>


        <div>
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="updateAccountDto.email" class="w-full p-2 border rounded-md">
        </div>
        <div>
          <label for="MotDePasse" class="block text-gray-700 text-sm font-bold mb-2">Mot de passe:</label>
          <input type="password" id="MotDePasse" name="MotDePasse" [(ngModel)]="updateAccountDto.MotDePasse" class="w-full p-2 border rounded-md">
        </div>
        
        <div class="flex justify-end">
          <button type="submit" class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50">Mettre à jour</button>
        </div>
      </form>
    </div>
  </div>
</div>
